<h3>
  Triggered Via
  <br />
  <code class="small">
    {{fa-icon "angle-left"}}form
    \{{on "submit" this.withSubmit}}{{fa-icon "angle-right"}}
    ...
  </code>
</h3>

<form {{on "submit" this.withSubmit}}>
  <div class="form-group">
    <label for="js-text-submit-with-on">
      <kbd>CTRL+ENTER</kbd>
      Submits Turned On
    </label>
    <TextArea
      @aria-describedby="js-text-submit-with-on-helpblock"
      @autofocus={{true}}
      @class="form-control"
      @ctrlEnterSubmitsForm?={{true}}
      @id="js-text-submit-with-on"
      @placeholder="Press CTRL+ENTER To Submit"
    />
    <small id="js-text-submit-with-on-helpblock" class="form-text text-muted">
      <kbd>CTRL+ENTER</kbd>
      will submit form :
      <code>
        {{fa-icon "angle-left"}}TextArea @ctrlEnterSubmitsForm?=true ... /{{fa-icon
          "angle-right"
        }}
      </code>
    </small>
  </div>
</form>

<hr />

<form {{on "submit" this.withSubmit}}>
  <div class="form-group">
    <label for="js-text-submit-with-on-off">
      <kbd>CTRL+ENTER</kbd>
      Submits Turned
      <span class="bg-warning px-1 text-dark">OFF</span>
      (DEFAULT Behaviour)
    </label>
    <TextArea
      @aria-describedby="js-text-submit-with-on-off-helpblock"
      @class="form-control"
      @ctrlEnterSubmitsForm?={{false}}
      @id="js-text-submit-with-on-off"
      @placeholder="Pressing CTRL+ENTER Will Not Submit"
    />
    <small
      id="js-text-submit-with-on-off-helpblock"
      class="form-text text-muted"
    >
      <kbd>CTRL+ENTER</kbd>
      will
      <span class="bg-warning px-1 text-dark">NOT</span>
      submit form :
      <code>
        {{fa-icon "angle-left"}}TextArea @ctrlEnterSubmitsForm?=false
        @enterSubmitsForm?=false /{{fa-icon "angle-right"}}
      </code>
    </small>
  </div>
</form>