<section class="my-2">
  <div class="container">
    <nav class="bg-dark navbar navbar-expand-md navbar-dark shadow rounded">
      {{#link-to "index" class="navbar-brand"}}
        Text Support Mixins
      {{/link-to}}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/cybertoothca/ember-cli-text-support-mixins" target="_blank">
              {{fa-icon "github" prefix="fab" size="2x"}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.npmjs.com/package/ember-cli-text-support-mixins" target="_blank">
              {{fa-icon "npm" prefix="fab" size="2x"}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://emberobserver.com/addons/ember-cli-text-support-mixins" target="_blank">
              {{fa-icon "ember" prefix="fab" size="2x"}}
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<section class="my-3">
  <div class="container">
    <a href="https://badge.fury.io/js/ember-cli-text-support-mixins" target="_blank">
      <img alt="npm version" class="shadow" src="https://badge.fury.io/js/ember-cli-text-support-mixins.svg"></a>
    <a href="https://circleci.com/gh/cybertoothca/ember-cli-text-support-mixins" target="_blank">
      <img alt="built with ember-cli-2.18" class="shadow"
           src="https://img.shields.io/badge/Built_With_ember--cli-2.18.2-orange.svg"></a>
    {{#copy-install-to-clipboard}}
      <img
        alt="click to copy install command"
        class="shadow"
        src="https://img.shields.io/badge/Install-ember_install_ember--cli--text--support--mixins-lightgray.svg"
        title="Click to copy the intall command to your clipboard.">
    {{/copy-install-to-clipboard}}
  </div>
</section>

{{outlet}}

<section class="bg-dark text-light">
  <div class="container">
    <footer class="pt-4 my-md-5 pt-md-5">
      <div class="row">
        <div class="col-12 col-md text-center">
          <img
            class="mb-2 img-fluid"
            src="https://cybertooth.io/assets/icons/logo-with-wordmark-transparent-alternate-870397efe0a45072ec1e9080dddff8cbb96461bf6f3d9e7db62429396936207e.png"
            alt=""
          >
          <small class="d-block mb-3 text-muted">
            {{fa-icon "copyright"}}
            2018
          </small>
        </div>
        <div class="col-12 col-md text-center">
          <h5>Other Projects</h5>
          <ul class="list-unstyled text-small">
            <li>
              <a class="text-muted" href="http://ember-cli-bootstrap3-carousel.cybertooth.io/" target="_blank">
                Bootstrap3 Carousel
              </a>
            </li>
            <li>
              <a class="text-muted" href="http://ember-data-bootstrap3-forms.cybertooth.io/" target="_blank">
                Bootstrap3 Forms
              </a>
            </li>
            <li>
              <a class="text-muted" href="http://ember-cli-bootstrap3-popover.cybertooth.io/" target="_blank">
                Bootstrap3 Popover
              </a>
            </li>
            <li>
              <a class="text-muted" href="http://ember-cli-bootstrap3-tooltip.cybertooth.io/" target="_blank">
                Bootstrap3 Tooltip
              </a>
            </li>
            <li>
              <a class="text-muted" href="http://ember-cli-date-textbox.cybertooth.io/" target="_blank">
                Date Textbox
              </a>
            </li>
            <li>
              <a class="text-muted" href="http://ember-cli-marked-down.cybertooth.io/" target="_blank">
                Marked Down
              </a>
            </li>
            <li>
              <a class="text-muted" href="http://ember-cli-text-support-mixins.cybertooth.io/" target="_blank">
                Text Support Mixins
              </a>
            </li>
            <li>
              <a class="text-muted" href="http://ember-cli-textarea-autosize.cybertooth.io/" target="_blank">
                Textarea Autosize
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</section>
