<section>
  <div class="container">
    <h2 class="mt-3">Demo</h2>
    <p>
      {{#link-to "demo.index"}}Check out the the components and features in action.{{/link-to}}
    </p>

    <h2 class="mt-3">Install</h2>

    <p>
      <code>ember install ember-cli-text-support-mixins@~{{app-version versionOnly=true}}</code>
    </p>

    <h2 class="mt-3">Synopsis</h2>

    <h3 class="mt-3"><code>\{{input-text ...}}</code></h3>

    <p>
      An <code>{{fa-icon "angle-left"}}input{{fa-icon "angle-right"}}</code> element for TEXT types that supports:
    </p>
    <ul>
      <li>
        <em>Working</em> autofocus between transitions
      </li>
      <li>
        Selecting input text on focus
      </li>
      <li>
        <kbd>ESC</kbd> clearing of text input contents
      </li>
      <li>
        Enabling/disabling <em>closest</em> form submission with the pressing of <kbd>ENTER</kbd> or
        <kbd>CTRL+ENTER</kbd>
      </li>
    </ul>

    <h3 class="mt-3"><code>\{{text-area ...}}</code></h3>

    <p>
      An <code>{{fa-icon "angle-left"}}textarea{{fa-icon "angle-right"}}</code> element that supports:
    </p>
    <ul>
      <li>
        <em>Working</em> autofocus between transitions
      </li>
      <li>
        Selecting input text on focus
      </li>
      <li>
        <kbd>ESC</kbd> clearing of text input contents
      </li>
      <li>
        Enabling/disabling <em>closest</em> form submission with the pressing of <kbd>CTRL+ENTER</kbd>
      </li>
    </ul>

    <h3 class="mt-3">Mixins</h3>
    <p>Here's a list of tested mixins that you can mix into your components:</p>
    <ul>
      <li>
        <a
          href="https://github.com/cybertoothca/ember-cli-text-support-mixins/blob/master/addon/mixins/aria-attributes.js"
          target="_blank">
          <code>import AriaAttributes from "ember-cli-text-support-mixins/mixins/aria-attributes";</code>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/cybertoothca/ember-cli-text-support-mixins/blob/master/addon/mixins/closest-form.js"
          target="_blank">
          <code>import ClosestForm from "ember-cli-text-support-mixins/mixins/closest-form";</code>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/cybertoothca/ember-cli-text-support-mixins/blob/master/addon/mixins/ctrl-enter-submits-form.js"
          target="_blank">
          <code>import CtrlEnterSubmitsForm from "ember-cli-text-support-mixins/mixins/ctrl-enter-submits-form";</code>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/cybertoothca/ember-cli-text-support-mixins/blob/master/addon/mixins/enter-submits-form.js"
          target="_blank">
          <code>import EnterSubmitsForm from "ember-cli-text-support-mixins/mixins/enter-submits-form";</code>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/cybertoothca/ember-cli-text-support-mixins/blob/master/addon/mixins/escape-key-clears.js"
          target="_blank">
          <code>import EscapeKeyClears from "ember-cli-text-support-mixins/mixins/escape-key-clears";</code>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/cybertoothca/ember-cli-text-support-mixins/blob/master/addon/mixins/focus-selects-text.js"
          target="_blank">
          <code>import FocusSelectsText from "ember-cli-text-support-mixins/mixins/focus-selects-text";</code>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/cybertoothca/ember-cli-text-support-mixins/blob/master/addon/mixins/form-submission-utils.js"
          target="_blank">
          <code>import FormSubmissionUtils from "ember-cli-text-support-mixins/mixins/form-submission-utils";</code>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/cybertoothca/ember-cli-text-support-mixins/blob/master/addon/mixins/trigger-focus.js"
          target="_blank">
          <code>import TriggerFocus from "ember-cli-text-support-mixins/mixins/trigger-focus";</code>
        </a>
      </li>
    </ul>

    <h3 class="mt-3">Included With</h3>
    <p>This add-on has been included with the following projects/add-ons:</p>
    <ul>
      <li>
        <a href="http://ember-cli-date-textbox.cybertooth.io/" target="_blank">
          Date Textbox
        </a>
      </li>
      <li>
        <a href="http://ember-cli-textarea-autosize.cybertooth.io/" target="_blank">
          Textarea Autosize
        </a>
      </li>
    </ul>
  </div>
</section>
